<p id="notice"><%= notice %></p>


  <table class ="table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Submitted Forms</th>
        <th scope = "col">Id</th>
        <th scope = "col">status</th>
        <th scope = "col"></th>
        <th scope = "col"></th>
      </tr>
   </thead>
  <tbody>
    <% @travel_forms.each do |travel_form| %>
      <%if travel_form.account_id == current_account.id%>
    <div>
      <tr>
      <th scope="row">Travel Form</th>
        <td><%= travel_form.id %></td>
        <td><%= travel_form.status %></td>
        <td><%= link_to 'Review Travel Form', travel_form %></td>
        <%if travel_form.status == "Denied"%>
          <td><%= link_to 'Resubmit', edit_travel_form_path(travel_form.id) %></td>
        <% end %>
        <%if travel_form.status == "Approved"%>
          <td><%= link_to 'New Expense Report', new_expense_report_path %></td>
        <% end %>
      <tr>
      <% @request_forms.each do |request_form| %>
      <% if request_form.travel_form_id == travel_form.id%>
        <td> Request Form </td>
        <td><%= request_form.travel_form_id %></td>
        <td><%= request_form.status %></td>
        <%if request_form.status == "Denied"%>
          <td><%= link_to 'Resubmit', edit_request_form_path(request_form.id) %></td>
        <% end %>
      </tr>
    <% end %>
    <%end%>
      </tr>
    </div>
    <%end%>
    <% end %>
  </tbody>
</table>
<table>
  <td><%= link_to 'New Travel Form', new_travel_form_path%></td>
</table>
</br>

<table class ="table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Submitted Reports</th>
        <th scope = "col">Id</th>
        <th scope = "col">status</th>

      </tr>
   </thead>
    <tbody>
    <% @expense_reports.each do |expense_report| %>
      <tr>
        <th scope="row">Expense Report</th>
        <td><%= expense_report.id %></td>
        <td><%= expense_report.status %></td>
        <td><%= link_to 'Review Expense Report', expense_report %></td>
        <%if expense_report.status == "Denied"%>
          <td><%= link_to 'Resubmit', edit_expense_report_path(expense_report.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>




