<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>


  <table class ="table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Submitted Forms</th>
        <th></th>
        <th scope = "col">Id</th>
        <th scope = "col">Status</th>
        <th scope = "col">Estimate Cost Total</th>
        <th scope = "col"></th>
      </tr>
   </thead>
  <tbody>
    <% @travel_forms.each do |travel_form| %>
      <%if travel_form.account_id == current_account.id%>
    <div>
      <tr>
      <td>Travel Form</td>
      <td></td>
        <td><%= travel_form.id %></td>
        <td><%= travel_form.status %></td>
        <td><%= travel_form.estimate %></td>
        <td><%= link_to 'Review Travel Form', travel_form, class:"btn btn-primary btn-sm" %></td>
        <%if travel_form.status == "Denied"%>
          <td><%= link_to 'Resubmit', edit_travel_form_path(travel_form.id), class:"btn btn-danger btn-sm" %></td>
        <% end %>
        <%if travel_form.status == "Approved"%>
          <td><%= link_to 'New Expense Report', new_expense_report_path(:travel_form_id => travel_form.id), class:"btn btn-success btn-sm"  %></td>
        <% end %>

      <tr>
      <% @request_forms.each do |request_form| %>
      <% if request_form.travel_form_id == travel_form.id%>
      <td></td>
        <td> Request Form </td>
        <td><%= request_form.travel_form_id %></td>
        <td><%= request_form.status %></td>
        <%if request_form.status == "Denied"%>
          <td><%= link_to 'Resubmit', edit_request_form_path(request_form.id), class:"btn btn-danger btn-sm" %></td>
        <% end %>
        <td></td>
        <td><%= link_to 'Review Request Form', request_form, class:"btn btn-info btn-sm" %></td>
      </tr>
    <% end %>
    <%end%>
      </tr>
    </div>
    <%end%>
    <% end %>
  </tbody>
</table>
<table>
  <td><%= link_to 'New Travel Form', new_travel_form_path, class:"btn btn-success btn-sm" %></td>
</table>
</br>

<table class ="table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Submitted Reports</th>
        <th scope = "col"> Travel Form Id</th>
        <th scope = "col">Status</th>
        <th scope = "col"> Actual Cost Total</th>

      </tr>
   </thead>
    <tbody>
    <% @expense_reports.each do |expense_report| %>
      <%if expense_report.account_id == current_account.id%>
      <tr>
        <td>Expense Report</td>
        <td><%= expense_report.id %></td>
        <td><%= expense_report.status %></td>
        <td><%= expense_report.estimate2 %></td>
        <td><%= link_to 'Review Expense Report', expense_report, class:"btn btn-primary btn-sm" %></td>
        <%if expense_report.status == "Denied"%>
          <td><%= link_to 'Resubmit', edit_expense_report_path(expense_report.id), class:"btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>




