<p id="notice"><%= notice %></p>
<div class="col-lg-12 text-center">
  <h1 class="mt-5"> Employee Travel and Expense Forms</h1>
</div>

<h2 class="mt-5"> Travel Form</h2>
  <table>

  <tbody>
    <% @travel_forms.each do |travel_form| %>
      <%if travel_form.account_id == current_account.id%>
      <% @request_forms.each do |request_form| %>
        <% if request_form.travel_form_id == travel_form.id%>
    <div>
      <tr>
      <td> Travel form </td>
        <td><%= travel_form.id %></td>
        <td><%= travel_form.status %></td>
        <td><%= link_to 'Review Travel Form', travel_form %></td>
        <td><%= link_to 'Edit', edit_travel_form_path(travel_form.id) %></td>
      <tr>
        <td> Expense Form </td>
        <td><%= request_form.travel_form_id %></td>
      </tr>
    <% end %>
    <%end%>
      </tr>
    </div>
    <%end%>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Travel Form', new_travel_form_path %>
<h2 class="mt-5"> Expense Reports </h2>
<table>
    <tbody>
    <% @expense_reports.each do |expense_report| %>
      <tr>
        <td> Expense Form </td>
        <td><%= expense_report.id %></td>
        <td><%= expense_report.status %></td>
        <td><%= link_to 'Review Expense Report', expense_report %></td>
        <td><%= link_to 'Edit', edit_request_form_path(expense_report.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<div>
<%= link_to 'New Expense Report', new_expense_report_path %>
</div>
<%= link_to 'Back', employee_path %>


