<%= form_with(model: @travel_form, local: true) do |form| %>
  <% if @travel_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel_form.errors.count, "error") %> prohibited this travel_form from being saved:</h2>

      <ul>
      <% travel_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5"> New Travel Form</h1>
    </div>
  </div>

  <div class="field">
    <%= form.label :First_Name %>
    <%= form.text_field :First_Name %>
  </div>

  <div class="field">
    <%= form.label :Last_Name %>
    <%= form.text_field :Last_Name %>
  </div>


  <div class="field">
    <%= form.label :Department %>
    <%= form.text_field :Department %>
  </div>

  <div class="field">
    <%= form.label :Start_Date %>
    <%= form.date_select :Start_Date %>
  </div>

  <div class="field">
    <%= form.label :End_Date %>
    <%= form.date_select :End_Date %>
  </div>
  
  <div class="field">
    <%= form.label :Location %>
    <%= form.text_field :Location %>
  </div>

  <div class="field">
    <%= form.label :Flight_Price %>
    <%= form.text_field :Flight_Price %>
  </div>

  <div class="field">
    <%= form.label :Hotel_Price %>
    <%= form.text_field :Hotel_Price %>
  </div>


  <div class="field">
    <%= form.label :Transportation %>
    <%= form.text_field :Transportation %>
  </div>

  <div class="field">
    <%= form.label :Other %>
    <%= form.text_field :Other %>
  </div>
 



  <div>
    <p><strong>Requests:</strong></p>

    <div id="travel_forms">
      <%= form.fields_for :request_forms do |request_form| %>
        <%= render 'form', form: travel_form %>
      <% end %>
      <div class="links">
      <%= link_to_add_association 'Add Request', form, :request_forms %>
      </div>
    </div>
  </div>
  
  
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
