<p id="notice"><%= notice %></p>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Travel Form</title>
</head>

<div class="col-lg-12 text-center">
  <h1 class="mt-5"> Travel Form</h1>
</div>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Department</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
      <th>Flight price</th>
      <th>Hotel price</th>
      <th>Mileage</th>
      <th>Transportation</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_forms.each do |travel_form| %>
      <tr>
        <td><%= travel_form.First_Name %></td>
        <td><%= travel_form.Last_Name %></td>
        <td><%= travel_form.Department %></td>
        <td><%= travel_form.Start_Date %></td>
        <td><%= travel_form.End_Date %></td>
        <td><%= travel_form.Location %></td>
        <td><%= travel_form.Flight_Price %></td>
        <td><%= travel_form.Hotel_Price %></td>
        <td><%= travel_form.Mileage %></td>
        <td><%= travel_form.Transportation %></td>
        <td><%= travel_form.Other %></td>
        <td><%= link_to 'Show', travel_form %></td>
        <td><%= link_to 'Edit', edit_travel_form_path(travel_form) %></td>
        <td><%= link_to 'Destroy', travel_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel Form', new_travel_form_path %>
