<%= form_with(model: expense_report, local: true) do |form| %>
  <% if expense_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense_report.errors.count, "error") %> prohibited this expense_report from being saved:</h2>

      <ul>
      <% expense_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</br>

  
<div class="row">
  <div class="col-md-4">
    <%= form.text_field :First_name, placeholder: "First Name"%>
  </div>
  
  <div class="col-md-4">
    <%= form.text_field :Last_Name, placeholder: "Last Name" %>
  </div>

  <div class="col-md-4">
    <%= form.text_field :Department, placeholder: "Department" %>
  </div>
</div>

</br>

<div class="row">
  <div class="col-md-4">
    <%= form.text_field :Flight, placeholder: "Flight Price" %>
  </div>

  <div class="col-md-4">
    <%= form.text_field :Hotel, placeholder: "Hotel Price" %>
  </div>
</div>
</br>

<div class="row">
  <div class="col-md-4">
    <%= form.text_field :Transportation, placeholder: "Transportation" %>
  </div>

  <div class="col-md-4">
    <%= form.text_field :Other, placeholder: "Other" %>
  </div>
</div>
</br>

<div class="row">
  <div class="col-md-4">
    <%= form.text_field :travel_forms_id, placeholder: "Travel Form Id" %>
  </div>
</div>
</br>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.file_field :image_url, id: :Request_form_image_url %>
  </div>
  </br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
