<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @expense_report.First_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @expense_report.Last_Name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @expense_report.Department %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @expense_report.Flight %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @expense_report.Hotel %>
</p>


<p>
  <strong>Transportation:</strong>
  <%= @expense_report.Transportation %>
</p>

<p>
  <strong>Other:</strong>
  <%= @expense_report.Other %>
</p>
<p>
  <strong>Actual cost:</strong>
  <%= @expense_report.estimate2 %>
</p>

<p>
  <strong>Image url:</strong>

  <%= image_tag(@expense_report.image_url_url, width: 300) if @expense_report.image_url.present? %>
</p>

