<p id="notice"><%= notice %></p>

<h1>Budget Approver Pages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_approver_pages.each do |budget_approver_page| %>
      <tr>
        <td><%= link_to 'Show', budget_approver_page %></td>
        <td><%= link_to 'Edit', edit_budget_approver_page_path(budget_approver_page) %></td>
        <td><%= link_to 'Destroy', budget_approver_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget Approver Page', new_budget_approver_page_path %>
