<p id="notice"><%= notice %></p>
<div class="col-lg-12 text-center">
  <h1 class="mt-5"> Budget Approver Page</h1>
</div>

<h2 class="mt-5"> Travel Form</h2>
  <table>

  <tbody>
      <% @request_forms.each do |request_form| %>
      <% if request_form.departments_id == current_account.department_id%>
        <tr>
            <td> Request Form </td>
            <td><%= request_form.travel_form_id %></td>
            <td><%= request_form.id %></td>
            <td><%= link_to 'Review Request Form', request_form %></td>
            <td><%= button_to "Approve", budget_approver_path, method: :get %></td>
            <td><%= button_to "Deny",budget_approver_path, method: :get %></td>
    <%end%>
    <% end %>
      </tr>
    </div>
  </tbody>
</table>
<h2 class="mt-5"> Expense Reports </h2>
<table>
    <tbody>
    <% @expense_reports.each do |expense_report| %>
      <tr>
        <td> Expense Form </td>
        <td><%= expense_report.id %></td>
        <td><%= expense_report.status %></td>
        <td><%= link_to 'Review Expense Report', expense_report %></td>
      </tr>
    <% end %>
  </tbody>
</table>



