<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<h1>
<div class="col-lg-12 text-right">
  <% @departments.each do |department| %>
    <% if current_account.department_id == department.id %>
    <td><%= department.names%> Budget:<%= department.budget%></td>
    <% end %>
   <% end %>
</div>
</h1>
</br>

  <table class= "table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col"> Submitted  Forms </th>
        <th scope = "col">Id</th>
        <th scope = "col">status</th>
        <th scope = "col"></th>
        <th scope = "col"></th>

      </tr>
   </thead>
  <tbody>

      <% @request_forms.each do |request_form| %>
        <% if request_form.departments_id == current_account.department_id%>
        <% if request_form.status != "Approved"%>
        <td>Request Form</td>
        <td><%= request_form.travel_form_id %></td>
        <td><%= request_form.status %></td>
        <% if request_form.status == "pending"%>
        <th scope ="col">
          <td><%= button_to "Approve", approve_request_form_path(request_form.id), method: :patch, class:"btn btn-success btn-sm" %></td>
          <td><%= button_to "Deny", denied_request_form_path(request_form.id), method: :patch, class:"btn btn-danger btn-sm"%></td>
        </th>
        <% end %>
         <td><%= link_to 'Review Request Form', request_form, class:"btn btn-info btn-sm" %></td>
        <% end %>
        <% @travel_forms.each do |travel_form| %>
          <tr>
          <% if request_form.travel_form_id == travel_form.id%>
          <% if travel_form.status != "Approved"%>
          <td> Travel Forms </td>
          <td><%= travel_form.id %></td>
          <td><%= travel_form.status %></td>
          <td><%= link_to 'View Travel Form', travel_form, class:"btn btn-info btn-sm" %></td>
          </tr>
          <%end%>
        <% end %>

      </tr>
    <% end %>
    <% end %>
    <% end %>
      </tr>
    </div>
  </tbody>
</table>
</br>



<table class ="table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Submitted Reports</th>
        <th scope = "col">Id</th>
        <th scope = "col">status</th>
      </tr>
   </thead>
    <tbody>
    <% @expense_reports.each do |expense_report| %>
      <tr>
        <td>Expense Report</td>
        <td><%= expense_report.id %></td>
        <td><%= expense_report.status %></td>
        <td><%= link_to 'Review Expense Report', expense_report, class:"btn btn-info btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


