<p id="notice"><%= notice %></p>
<div class="col-lg-12 text-center">
  <h1 class="mt-5"> Budget Approver </h1>
</div>
<h2 class="mt-5"> Travel Forms</h2>
  <table>
  <tbody>
    <% @travel_forms.each do |travel_form| %>
    <div>
      <tr>
      <td> Travel form </td>
      
        <td><%= travel_form.id %></td>
        <td><%= travel_form.status %></td>
        <td><%= link_to 'Review Travel Form', travel_form %></td>
        <td><%=button_to "Approve", travel_form_path, method: :get%></td>
        <td><%=button_to "Deny", travel_form_path, method: :put%></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_budget_approver_path(@budget_approver) %> |
<%= link_to 'Back', budget_approver_path %>
