<%= simple_form_for RequestForm.new do |f|  %>
 <%= f.error_notification  %>
 <div class= "form-inputs"> 
 </div>
 <h3>Items</h3>
 <table class= "table"> 
  <thead> 
   <tr> 
    <th></th>
    <th>Department</th>
    <th>Amount</th>
  </tr>
 </thead>
 <tbody class="items"> 
  <%= simple_fields_for :departments do |builder| %>
  <%= render 'department_fields', f: builder %>
  <%end %>
 </tbody>
 </table>

<div class= "form-actions"> 
 <%= f.button :submit %>
 <%= link_to_add_association 'Add Item', f, :departments, class: 'btn btn- 
 primary', data: {association_insertion_node: '.departments', 
 association_insertion_method: :append } %>
</div>
<% end %>