<%= form_with(model: request_form, local: true) do |form| %>
  <% if request_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request_form.errors.count, "error") %> prohibited this request_form from being saved:</h2>

      <ul>
      <% request_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= label_tag 'Department_rd','Research & Development' %>
    <%= check_box_tag 'request_forms[Department][]', 'rd',  id: 'Department_rd' %>
  </div>
  
  <div class="field">
    <%= label_tag 'Department_marketing','Marketing' %>
    <%= check_box_tag 'request_forms[Department][]', 'rd', id: 'Department_marketing' %>
  </div>
  
  <div class="field">
    <%= label_tag 'Department_sales','Sales' %>
    <%= check_box_tag 'request_forms[Department][]', 'rd', id: 'Department_sales' %>
  </div>
  
  <div class="field">
    <%= label_tag 'Department_media','Media & Communications' %>
    <%= check_box_tag 'request_forms[Department][]', 'rd',  id: 'Department_media' %>
  </div>
  
  <div class="field">
    <%= label_tag 'Department_it','Information Technology' %>
    <%= check_box_tag 'request_forms[Department][]', 'rd',  id: 'Department_it' %>
  </div>
  
    <div class="field">
    <%= label_tag 'Department_legal','Legal' %>
    <%= check_box_tag 'request_forms[Department][]', 'rd',  id: 'Department_legal' %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
