<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @request_form.Department %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @request_form.amount %>
</p>

<%= link_to 'Edit', edit_request_form_path(@request_form) %> |
<%= link_to 'Back', request_forms_path %>
