<p id="notice"><%= notice %></p>
<div class="col-lg-12 text-center">
  <h1 class="mt-5"> Travel Form</h1>
</div>

  <tbody>
    <% @travel_forms.each do |travel_form| %>
    <div>
      <tr>
        <td><%= travel_form.First_Name %></td>
        <td><%= travel_form.Last_Name %></td>
        <td><%= travel_form.Department %></td>
        <td><%= travel_form.Start_Date %></td>
        <td><%= travel_form.End_Date %></td>
        <td><%= travel_form.Location %></td>
        <td><%= travel_form.Flight_Price %></td>
        <td><%= travel_form.Hotel_Price %></td>
        <td><%= travel_form.Mileage %></td>
        <td><%= travel_form.Transportation %></td>
        <td><%= travel_form.Other %></td>
        <td><%= link_to 'Review', travel_form %></td>
      </tr>
    </div>
    <% end %>
  </tbody>

<%= link_to 'Back', employee_pages_path %>
