<p id="notice"><%= notice %></p>
<div class="col-lg-12 text-center">
  <h1 class="mt-5"> Budget Approver Page</h1>
</div>
<h2 class="mt-5"> Travel Forms</h2>
  <table>
  <tbody>
    <% @travel_forms.each do |travel_form| %>
    <div>
      <tr>
      <td> Travel form </td>
        <td><%= travel_form.id %></td>
        <td><%= link_to 'Review Travel Form', travel_form %></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_budget_approver_page_path(@budget_approver_page) %> |
<%= link_to 'Back', budget_approver_pages_path %>
