<p id="notice"><%= notice %></p>

<h1>Payment Manager</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_manager.each do |payment_manager| %>
      <tr>
        <td><%= link_to 'Show', payment_manager %></td>
        <td><%= link_to 'Edit', edit_payment_manager_path(payment_manager) %></td>
        <td><%= link_to 'Destroy', payment_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Manager', new_payment_manager_path %>
