<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<div class="container">
    <% if flash[:index]%>
    <div class="notice">
        <%= flash[:index]%>
    </div>
    <% end %>
</div>


<table class ="table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Submitted Reports</th>
        <th scope = "col">Id</th>
        <th scope = "col">status</th>
      </tr>
   </thead>
    <tbody>
    <% @expense_reports.each do |expense_report| %>
      <tr>
        <td> Expense Form </td>
        <td><%= expense_report.id %></td>
        <td><%= expense_report.status %></td>
        <td><%= link_to 'Review Expense Report', expense_report %></td>
        <td><%= button_to "Approve", approve_expense_report_path(expense_report.id), method: :patch %></td>
        <td><%= button_to "Denied", denied_expense_report_path(expense_report.id), method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  
   <table class= "table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Travel Forms</th>
        <th scope = "col">Id</th>
        <th scope = "col">status</th>
        <th scope = "col"></th>
        <th scope = "col"></th>

      </tr>
   </thead>
  <tbody>
    <% @travel_forms.each do |travel_form| %>
    <div>
      <tr>
      <td> Travel form </td>
        <td><%= travel_form.id %></td>
        <td><%= travel_form.status %></td>
        <td><%= link_to 'Review Travel Form', travel_form %></td>
      </tr>
    </div>
    <%end%>
  </tbody>
</table>


