<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<div class="container">
    <% if flash[:index]%>
    <div class="notice">
        <%= flash[:index]%>
    </div>
    <% end %>
</div>


<table class ="table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Submitted Reports</th>
        <th scope = "col">Travel Form Id</th>
        <th scope = "col">Status</th>
        <th scope = "col">Actual Cost Total</th>
      </tr>
   </thead>
    <tbody>
    <% @expense_reports.each do |expense_report| %>
      <tr>
        <td> Expense Form </td>
        <td><%= expense_report.travel_forms_id %></td>
        <td><%= expense_report.status %></td>
        <td><%= expense_report.estimate2 %></td>
        <td><%= link_to 'Review Expense Report', expense_report, class:"btn btn-info btn-sm" %></td>
        <% if expense_report.status == "pending"%>
        <td><%= button_to "Approve", approve_expense_report_path(expense_report.id), method: :patch, class:"btn btn-success btn-sm" %></td>
        <td><%= button_to "Denied", denied_expense_report_path(expense_report.id), method: :patch, class:"btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  
   <table class= "table">
    <thead class="thead-dark">
      <tr>
        <th scope = "col">Submitted Forms</th>
        <th></th>
        <th scope = "col">Id</th>
        <th scope = "col">Status</th>
        <th scope = "col">Estimated Cost Total</th>
        <th scope = "col"></th>

      </tr>
   </thead>
  <tbody>
    <% @travel_forms.each do |travel_form| %>
    <div>
      <tr>
      <td> Travel form </td>
      <td></td>
        <td><%= travel_form.id %></td>
        <td><%= travel_form.status %></td>
        <td><%= travel_form.estimate %></td>
        <td><%= link_to 'Review Travel Form', travel_form, class:"btn btn-info btn-sm" %></td>
      </tr>
      
      
    <tr>
      <% @request_forms.each do |request_form| %>
      <% if request_form.travel_form_id == travel_form.id%>
      <td></td>
        <td> Request Form </td>
        <td><%= request_form.travel_form_id %></td>
        <td><%= request_form.status %></td>
        <td></td>
        <td><%= link_to 'Review Request Form', request_form, class:"btn btn-info btn-sm" %></td>
      </tr>
    <% end %>
    <%end%>
      </tr>
    </div>
    <%end%>
  </tbody>
</table>


