<p id="notice"><%= notice %></p>
<h2 class="mt-5"> Expense Reports </h2>
<table>
    <tbody>
    <% @expense_reports.each do |expense_report| %>
      <tr>
        <td> Expense Form </td>
        <td><%= expense_report.id %></td>
        <td><%= link_to 'Review Expense Report', expense_report %></td>
        <td><%=button_to "Approve", travel_form_path, method: :update%></td>
        <td><%=button_to "Deny", travel_form_path, method: :put%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>

<%= link_to 'Edit', edit_payment_manager_path(@payment_manager) %> |
<%= link_to 'Back', payment_manager_path %>
