<nav class="navbar navbar-default">
  <%= link_to "Welcome", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if account_signed_in? %>
      <% if current_account.accountable_type == "Employee"%>
      <li class="nav-item active">
        <%= link_to 'Employee Home', employee_path(current_account.accountable_id), class:"nav-link" %>
      </li>
      <% end %>
      <% if current_account.accountable_type == "BudgetApprover"%>
        <li class="nav-item active">
          <%= link_to 'Budget Approver Home', budget_approver_path(current_account.accountable_id), class:"nav-link" %>
        </li>
        <% end %>
        <% if current_account.accountable_type == "PaymentManager"%>
      <li class="nav-item active">
        <%= link_to 'Payment Manager Home', payment_manager_path(current_account.accountable_id), class:"nav-link" %>
      </li>
      <% end %>
    <li class="nav-item">
        <%= link_to 'Edit account', edit_account_registration_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Sign out', destroy_account_session_path, :method=>'delete', class:"nav-link" %>
    </li>
    <% if current_account.accountable_type == "SuperAccount"%>
    <li role="presentation" class="dropdown">

      <a class = "nav-link" href = "/admin">Admin Dasboard</a>

    </li>
    <%end%>
<% else %>
    <li class="nav-item">
        <%= link_to 'Sign in', new_account_session_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Sign up', new_account_registration_path,  class:"nav-link" %>
    </li>

<% end %>
    </ul>
  </div>
</nav>